<head>
<link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="index.css">
</head>

<body style="width: 500px; margin: 30px auto; text-align: center;">
  <h1>GAME OVER</h1>

  <% if @game.player1.hitpoints <= 0 %>
    <h2><%= @game.player2.name.upcase%> WINS!!</h2>
  <% elsif @game.player2.hitpoints <= 0 %>
    <h2><%= @game.player1.name.upcase%> WINS!!</h2>
  <% end %>

  <iframe src="//giphy.com/embed/xILH3iBtdUf8A" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>

  <form action="/">
    <input type="submit" value="Play Again" id="submit" style = "margin-top: 15px;">
  </form>

</body>
