<head>
<link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="index.css">
</head>

<body style="width: 500px; margin: 30px auto; text-align: center;">
  <h1> GAME OVER </h1>

  <% if @game.player1.hitpoints == 0 %>
    <p><%= @game.player2.name.upcase%> WINS </p>
  <% elsif @game.player2.hitpoints == 0 %>
    <p><%= @game.player1.name.upcase%> WINS </p>
  <% end %>

</body>
  
