<center>
<h2> <%= @player_1_name %> vs. <%= @player_2_name %> </h2>

<p> Both players starting with 60HP </p>
<p> <%= @player_1_name %>: 60HP </p>
<p> <%= @player_2_name %>: 60HP </p>



<div id="attack_button">
  <form action="/attack" method="get">
    <input type ="submit" value="Attack!!" />
  </form>
</div>
</center>
