<%= @player_1 %> vs. <%= @player_2 %>

<%= @player_1 %>: 60HP
<%= @player_2 %>: 60HP



<div id="attack_button">
  <form action="/attack" method="get">
    <input type ="submit" value="Attack!!" />
  </form>
</div>
