<center>
<h2> <%= @game.player_1.name %> vs. <%= @game.player_2.name %> </h2>

<p> Both players starting with 60HP </p>
<p> <%= @game.player_1.name %>: 60HP </p>
<p> <%= @game.player_2.name %>: 60HP </p>



<div id="attack_button">
  <form action="/attack" method="get">
    <input type ="submit" value="Attack!!" />
  </form>
</div>
</center>
