body {
    background: url("space4.jpg") no-repeat center center;
    background-size: cover;
    background-color: black;
    color: white;
    text-align: center;
}

input {
    border-radius: 40px
}

h1 {
  color: yellow;
}
