
body {
    background: url("space4.jpg") no-repeat center center;
    background-size: cover;
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    margin-top: 500px;
}

input {
    border-radius: 40px
}

h1 {
  color: yellow;
}

#submit {
    background-color: grey;
    border-radius:10px;
    padding: 10px;
    margin: 20px 20px;
    font-family: 'Orbitron', sans-serif;
    font-size: 15px
}

#submit:hover {
    border: none;
    background:grey;
}
